.navbar-content{
    padding-top: 100px;
    background: rgba(0, 0, 0, .9)
}
.account-info{
    border-radius: 10px;
    padding: 15px 0;
    border: 1px solid #6E6E6E;
}
.account-info ul li {
    list-style: none;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.list-active{
    border-left: 5px solid #000;
}
.list{
    color: #6E6E6E;
}
.balance-card{
    border-radius: 10px;
    background: #000;
    padding: 10px 15px;
    margin-top: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header.header-blog{
    background:url(../images/header/Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
header.header-blog .home{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header.header-blog .home h1{
    font-size: 45px;
}
header.header-blog .home p{
    color: #fff;
    font-size: 25px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.home-blog-links{
    width: 50%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.home-blog-links a{
    color: #fff;
    font-size: 20px;
}
.home-blog-links i{
    color: #fff;
    font-size: 23px;
}
.home-blog-links i.question-m{
    color: gray;
}
.about-contactUs p{
    text-align: left;
}
.Form{
    font-family: Arial, Helvetica, sans-serif;
}
.Form input,select,textarea{
    width: 90%;
    padding: 25px 20px;
    border: none;
    background: #ddd;
    border-radius: 8px;
}
.form-label{
    position: relative;
    top: 30px;
    left: 12px;
    margin: 5px 0;
}
.form-label span{
    color: #6E6E6E;
    font-size: 14px;
    margin-left: 5px;
}
.qCode-img img{
    width: 50%;
    box-shadow: 2px 2px 20px #ddd;
    margin: auto;
    display: block;
}
.qCode-img p{
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


